html{
    background-color: black;
}

div {
    color: white;
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
}

#Gintoki {
    border: 5px solid white;
    width: 100%;
}